export API_PORT=""
export API_WORKERS=""

export POSTGRESQL_HOST=""
export POSTGRESQL_PORT=""
export POSTGRESQL_DBNAME=""
export POSTGRESQL_USER=""
export POSTGRESQL_PASSWORD=""

export SMTP_SERVER=""
export SMTP_PORT=""
export SMTP_USERNAME=""
export SMTP_PASSWORD=""

export CONTACT_EMAIL_TO=""
export CONTACT_EMAIL_FROM=""

export LIBRE_URL=""
export LIBRE_ORPHAN_EXPIRATION_TIME=""
export LIBRE_KORDUV_URL=""
export LIBRE_KORDUV_API_KEY=""
export LIBRE_HTTP_CB_URL=""
export LIBRE_DAYS_BETWEEN_PAYMENTS=""
export LIBRE_MAX_FAILED_PAYMENTS=""
export LIBRE_GATEWAY_PERCENTAGE=""

export FLOTUM_MERCHANT_API_KEY=""

export SQITCH_DEPLOY=""
